
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YUGRAIT</title>
   
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'growplace/mero.css' %}">
</head>
<body>
   <header class="navbar navbar-expand-lg navbar-dark bg-light gradient-custom fixed-top ">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
         <img src="{% static 'growplace/logo.png' %}" alt="" id="logo1">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {% if request.user.is_authenticated %}
            {% if user.groups.all.0.name == 'Organizer' %}
            <li><a href="" class="nav-link px-2 text-white ">Организаторам</a></li>
            {% endif %}
        {% endif %}
          <li><a href="#" class="nav-link px-2 text-white">Мероприятия</a></li>

          <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            #наВзлёт
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Хочу узнать себя</a></li>
            <li><a class="dropdown-item" href="#">Хочу прокачаться</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Немного о #наВзлёт</a></li>
          </ul>
        </li>
          <li><a href="#" class="nav-link px-2 text-white">О нас</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Найти IT-дело..." aria-label="Search" id="search1">
        </form>

        <div class="text-end">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}"><button type="button" class="btn btn-light ">Выйти</button></a>
            {% else %}

                <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light me-2">Войти</button></a>
                <a href="{% url 'reg' %}"><button type="button" class="btn btn-light ">Регистрация</button></a>
            {% endif %}
        </div>
      </div>
    </div>
  </header>
  <div class="main">
    <div class="mero">
        <img src="{{ event.get_photo_url }}" alt="" class="logo">

    <form method="post">
        {% csrf_token %}
        {% if button_off == 'true' %}
            <button disabled class="btn btn-info me-2" type="submit" >Вы уже принимаете участие</button>
            {% elif button_off == 'anon' %}
            <button disabled class="btn btn-info me-2" type="submit" >Вы не авторизированы</button>
        {% else %}
            <button class="btn btn-info me-2" type="submit" >Принять участие</button>
        {% endif %}

    </form>

</div>
       
    
    
    
    <div class="infa">
       <div class="naz">
        <h2 class="naz1">{{ event.name }}</h2>
        <p>В рамках проекта <a href="">Развитие навыков молодых IT специалистов</a> </p>
    </div>
       <div class="infa-gl">
            <h3 class="osnova">Основная информация</h3>
        <a href="" class="org">Управление природопользованием ХМАО-ЮГРЫ</a>
        <p class="mesto"><img src="" alt="">{{ event.loc }}</p>
        <p class="date">{{ event.datetimefield }}</p>
           <div class="tags">
            {% for tag in tags %}
                <button type="button" class="btn btn-secondary" disabled>{{ tag.idCategory }}</button>
            {% endfor %}

        </div>
       </div>

          <div class="opisanie">
        <h3 class="osnova">Описание</h3>
        <p>{{ event.description }}</p>
    </div>
    </div>
    <div class="kontakt">
        <h3 class="osnova">Контактное лицо</h3>
        {% for org in organizers %}
            <h5 class="name">{{ org.idOrganizer }}</h5>
        {% endfor %}

    </div>
  
    
  
   </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>

<script>
SmoothScroll({
    // Время скролла 400 = 0.4 секунды
    animationTime    : 1500,
    // Размер шага в пикселях
    stepSize         : 75,

    // Дополнительные настройки:

    // Ускорение
    accelerationDelta : 30,
    // Максимальное ускорение
    accelerationMax   : 1,

    // Поддержка клавиатуры
    keyboardSupport   : true,
    // Шаг скролла стрелками на клавиатуре в пикселях
    arrowScroll       : 50,

    // Pulse (less tweakable)
    // ratio of "tail" to "acceleration"
    pulseAlgorithm   : true,
    pulseScale       : 4,
    pulseNormalize   : 1,

    // Поддержка тачпада
    touchpadSupport   : true,
})
</script>
</body>
</html>